body {
    text-align: center;
    margin-top: 2%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.formContent {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 30%;
    line-height: 50px;
    text-align: center;
}

.formContent input[type = text] [type = number] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.formContent input[type = number] {
    width: 100px;
}

.formContent input[type = text]:focus {
    background-color: #ddd;
    outline:none;
}

.formContent input[type = number]:focus {
    background-color: #ddd;
    outline:none;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(165, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#bookHolder {
    display: grid;
    grid-template-columns: 
        25% 25% 25% 25%;
    column-gap: auto;
    row-gap: auto;
    margin: 2%;
}

.book {
    border-style: solid;
    position: static;
    
}

#bookHolder h2, p{ 
    overflow: auto;
}

#bookHolder #exitButton {
    position: relative;
    float: right;
    bottom: 4em;
    right: 1em;
    color: rgb(231, 0, 0);
    
}

#exitButton:hover,
#exitButton:focus {
    color: rgb(165, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider.round{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider.round:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider.round {
    background-color: #2196F3;
  }
  
  input:focus + .slider.round {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider.round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
#modalContainer p {
    display: relative;
    margin-top: -0.5em;
    margin-bottom: -0.25em;
}