body {
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.formContent {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 30%;
    line-height: 50px;
    text-align: center;
}

.formContent input[type = text] [type = number] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.formContent input[type = number] {
    width: 100px;
}

.formContent input[type = text]:focus {
    background-color: #ddd;
    outline:none;
}

.formContent input[type = number]:focus {
    background-color: #ddd;
    outline:none;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(165, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#bookHolder {
    display: grid;
    position: static;
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . .";
    column-gap: 60px;
    row-gap: 60px;
    grid-template-columns: 24%;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}

.book {
    border-style: solid;
    position: static;
    
}

#bookHolder h2, p{ 
    overflow: auto;
}

#bookHolder #exitButton {
    position: relative;
    float: right;
    bottom: 4em;
    right: 1em;
    color: rgb(231, 0, 0);
    
}

#exitButton:hover,
#exitButton:focus {
    color: rgb(165, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
